<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password1" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Confirm Password" required>
        <select name="role" required>
            <option value="" disabled selected>Select Role</option>
            <option value="applicant">Соискатель</option>
            <option value="company">Компания</option>
        </select>
        <button type="submit">Register</button>
    </form>
</body>
</html>
